.add_question {
  display: flex;
  /* align-items: center; */
  /* width: 100%; */
}

.add_question_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 70%;
  margin: auto;
  padding: 20px;
}

.question_head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.question_head h1 {
  font-size: 32px;
}

.question_option {
  box-shadow: 0 0.5px 8px rgba(0, 0, 0, 0.178);
  margin-bottom: 20px;
  padding: 25px;
}

.question_option small {
  font-size: 14px;
  color: #828991;
}

.question_option input {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #828991;
  margin-top: 10px;
}

.question_option input:focus {
  outline: 1px solid #757b81;
}
