.all_questions {
  display: flex;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.all_questions_container {
  display: flex;
  width: 100%;
}

.all_questions_left {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.all_options {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: small;
  margin-right: 20px;
}

.all_option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.all_option > p {
  font-size: large;
  margin-bottom: 0;
  margin-right: 5px;
}

.question_answer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question_answer a {
  color: hsl(206, 100%, 40%) !important;
  font-size: 1.1rem;
  margin-bottom: 10px;
  transition: all 0.1s ease-in-out;
}

.question_answer a:hover {
  color: #60a3fe !important;
}

.question_tags {
  margin: 10px 5px;
  padding: 5px 10px;
  background-color: hsl(205, 46%, 92%);
  color: hsl(205, 47%, 42%);
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.question_tags:hover {
  background-color: #bfdef5;
}

.author {
  display: flex;
}

.author small {
  color: #828991;
  display: flex;
  align-items: center;
}

.author_detail {
  display: flex;
  margin-right: 5px;
  color: #0a95ff;
}

.author_detail > p {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: 5px;
}
