.stack_index {
  display: flex;
  min-height: 85vh;
  min-width: fit-content;
}

.stack_index_content {
  display: flex;
  justify-content: space-between;
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
}
